
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
header {
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#logo {
  font-size: 20px;
  font-weight: bold;
}
nav button {
  margin: 0 5px;
  padding: 5px 10px;
}
main {
  padding: 20px;
}
.seccion {
  display: none;
}
.seccion.activa {
  display: block;
}
footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10px;
}
